.header {
    background-color: gray;
}

.scorecard {
    background-color: whitesmoke;
    overflow-x: scroll;

    table {
        border: 2px solid gray;
        width: 100%;
        margin-top: 25px;

        th, td {
            border: 1px solid gray;
            min-width: 75px;
        }

        .black {
            background-color: rgba(0, 0, 0, 0.3);
        }
        .blue {
            background-color: rgba(0, 0, 255, 0.3);
        }
        .white {
            background-color: white;
        }
        .red {
            background-color: rgba(255, 0, 0, 0.3);
        }
    }
}