%backgroundimage {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header {
    background-color: darkslategray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        text-decoration: none;
        color: inherit;
        flex-grow: 3;
    }
}

.scorecard {
    background-color: whitesmoke;
    overflow-x: scroll;

    table {
        border: 2px solid gray;
        width: 100%;
        margin-top: 25px;

        th, td {
            border: 1px solid gray;
            min-width: 75px;
        }

        .black {
            background-color: rgba(0, 0, 0, 0.3);
        }
        .blue {
            background-color: rgba(0, 0, 255, 0.3);
        }
        .white {
            background-color: white;
        }
        .red {
            background-color: rgba(255, 0, 0, 0.3);
        }
    }
}

// courses.html
.courses {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .course {
        margin-bottom: 50px;
        border: 2px solid black;
        height: 300px;
        width: 100vw;

        &:hover {
            box-shadow: 0px 0px 10px black;
        }

        h3 {
            color: black;
            -webkit-text-stroke: 0.5px white;
        }
    }

    .fox-hollow {
        background-image: url("https://swingbyswing-b9.s3.amazonaws.com/photo/in-round/12486769/uploaded-photo43828077-480x360.png");
        @extend %backgroundimage;
    }
    .thanksgiving-point {
        background-image: url("https://swingbyswing-b9.s3.amazonaws.com/photo/in-round/10112953/uploaded-photo68921726-480x270.png");
        @extend %backgroundimage;
    }
    .spanish-oaks {
        background-image: url("https://swingbyswing-b9.s3.amazonaws.com/photo/in-round/12399619/uploaded-photo58903008-480x360.png");
        @extend %backgroundimage;
    }
}