.header {
    background-color: gray;
}

.scorecard {
    background-color: whitesmoke;
    overflow-x: scroll;

    table {
        border: 2px solid gray;
        width: 100%;
        margin-top: 25px;

        th, td {
            border: 1px solid gray;
            min-width: 75px;
        }
    }
}